<span itemscope="itemscope" itemtype="http://schema.org/Organization">
	<meta itemprop="name" content="Reelworx GmbH" />
	<meta itemprop="logo" content="{f:uri.resource(path: 'Images/reelworx_logo.png', absolute: 1)}" />
	<meta itemprop="url" content="{f:uri.page(pageUid: rootPid, absolute: 1)}" />
	<meta itemprop="telephone" content="+4369911733501" />
	<span itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
		<meta itemprop="streetAddress" content="Peter-Behrens-Platz 2" />
		<meta itemprop="postalCode" content="4020" />
		<meta itemprop="addressLocality" content="Linz" />
		<meta itemprop="addressCountry" content="AT" />
		<meta itemprop="availableLanguage" content="German"/>
		<meta itemprop="availableLanguage" content="English"/>
	</span>
	<span itemprop="contactPoint" itemscope="itemscope" itemtype="http://schema.org/ContactPoint">
		<meta itemprop="telephone" content="+4369911733501" />
		<meta itemprop="contactType" content="customer service" />
		<meta itemprop="availableLanguage" content="German"/>
		<meta itemprop="availableLanguage" content="English"/>
	</span>
</span>
<span itemscope="itemsope" itemtype="http://schema.org/Service">
	<meta itemprop="url" content="{f:uri.page(pageUid: settings.thePid, absolute: 1)}" />
	<meta itemprop="name" content="Web and mobile development, TYPO3 CMS services" />
</span>
