<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	data-namespace-typo3-fluid="true"
>
<a href="#main" class="sr-only sr-only-focusable">
	<f:translate key="skipToContent" />
</a>

<header id="header">
	<div class="container">
		<nav class="navbar navbar-expand-md navbar-light bg-light">
			<f:link.page pageUid="{rootPid}" class="navbar-brand">
				<f:image src="EXT:sitesetup/Resources/Public/Images/reelworx_logo.png" height="50" />
			</f:link.page>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<f:comment>
						### Use {menu} or {sectionMenu} here
					</f:comment>
					<f:for each="{menu}" as="page" iteration="it">
						<f:if condition="{page.children}">
							<f:then>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{page.data.uid}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										{page.title}
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown{page.data.uid}">
										<f:for each="{page.children}" as="childPage">
											<a class="dropdown-item" href="{childPage.link}" target="{childPage.target}">{childPage.title}</a>
										</f:for>
									</div>
								</li>
							</f:then>
							<f:else>
								<f:if condition="{page.content}">
									<f:then>
										<f:for each="{page.content}" as="content">
											<li class="nav-item">
												<a class="nav-link" href="#c{content.data.uid}">{content.data.header}</a>
											</li>
										</f:for>
									</f:then>
									<f:else>
										<li class="nav-item {f:if(condition:page.active, then: 'active')}">
											<a class="nav-link" href="{page.link}" target="{childPage.target}">{page.title} <f:if condition="{page.current}"><span class="sr-only">(current)</span></f:if></a>
										</li>
									</f:else>
								</f:if>
							</f:else>
						</f:if>
					</f:for>
				</ul>
			</div>
		</nav>
	</div>
</header>

<main id="main">
	<f:render section="content" />
</main>

<footer id="footer">
	<div class="container">
		<div class="row">
			<f:cObject typoscriptObjectPath="lib.footer" table="tt_content" />
		</div>
		<div class="row">
			<div id="secondfooter" class="col-12 col-lg-6">
				<f:comment><f:render partial="LanguageMenu" /></f:comment>
			</div>
			<div id="footermenu" class="col-12 col-lg-6">
				<p class="text-right">
					<f:for each="{footerMenu}" as="page" iteration="it">
						<a href="{page.link}">{page.title}</a>{f:if(condition:it.isLast,else:'&nbsp;|&nbsp;')}
					</f:for>
					<i class="fas fa-copyright"></i> Reelworx GmbH
				</p>
			</div>
		</div>
	</div>
	<f:render partial="Schemaorg" arguments="{_all}" />
</footer>
</html>
