
/*
 default FSC styles
 these styles need to be adjusted when
 Configuration/TypoScript/Constants/Plugin/0.fsc.constants.typoscript
 is adjusted
 */
$ce-borderWidth: 2px; // styles.content.textmedia.borderWidth
$ce-borderColor: black; // styles.content.textmedia.borderColor
$ce-borderPadding: 0; // styles.content.textmedia.borderPadding
$ce-textMargin: 10px; // styles.content.textmedia.textMargin
$ce-columnSpacing: 10px; // styles.content.textmedia.columnSpacing
$ce-rowSpacing: 10px; // styles.content.textmedia.rowSpacing
