<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
	<div class="container content">
		<div class="row">
			<div class="col-12 col-md-9">
				<f:cObject typoscriptObjectPath="lib.mainContent" table="tt_content" />
			</div>
			<div class="col-12 col-md-3">
				<f:cObject typoscriptObjectPath="lib.sidebar" table="tt_content" />
			</div>
		</div>
	</div>
</f:section>

</html>
